.blue {
    color: #274fa6;
}

.bordure {
    border-left: 0.1rem solid #274fa6;
    height: 60px;
    margin-top: 6px;
}

.align {
    margin-top: 15px;
}

.top {
    margin-top: 50px;
}

.secondary {
    background-color: rgb(240, 240, 240);
}


/* bas de page */

.foot {
    background-color: #274fa6;
}

.foot_ins {
    background-color: #274fa6;
    height: 50px;
    margin-top: 40px;
}

@media (max-width:360px) {
    .img {
        display: none;
    }
    .position_centre {
        margin-right: 110px;
    }
    .d_none {
        display: none;
    }
    .reduction_header {
        height: 150px;
    }
}

@media (max-width:412px) {
    .img {
        display: none;
    }
    .position_centre {
        margin-right: 130px;
    }
    .d_none {
        display: none;
    }
    .reduction_header {
        height: 150px;
    }
}

@media (max-width:360px) {
    .img {
        display: none;
    }
    .position_centre {
        margin-right: 115px;
    }
}

@media (max-width:360px) {
    .img {
        display: none;
    }
    .position_centre {
        margin-right: 90px;
    }
}

@media (max-width:360px) {
    .img {
        display: none;
    }
    .position_centre {
        margin-right: 125px;
    }
    .small_text {
        font-size: 2.6em;
    }
}

@media (max-width:414px) {
    .img {
        display: none;
    }
    .position_centre {
        margin-right: 140px;
    }
    .d_none {
        display: none;
    }
    .reduction_header {
        height: 150px;
    }
}

@media (max-width:768px) {
    .img {
        display: none;
    }
    .position_centre {
        margin-right: 130px;
    }
    .d_none {
        display: none;
    }
    .reduction_header {
        height: 150px;
    }
}


/* .taille {
    max-height: 300px;
} */

.stargrey {
    color: #96969d;
}

.yellow {
    color: #fedc18;
}

.star:hover {
    cursor: pointer;
}